// colours
$kp-darkgreen: #009A16;
$kp-lightgreen: rgb(97, 171, 0);
$kp-orange: rgb(255, 172, 12);
$kp-red: #DA4E35;
$kp-grey: #707070;
$kp-transparent: rgba(0,0,0,0);

*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    height: 100%;
}

header{
    height: 90px;
    background: white;
    margin: 0 19px;
    display: flex;
    align-items: center;
    h1{
        flex: 1;
        margin: 0;
        height: 53px;
        a{
            text-decoration: none;
            display: inline-block;
            color: black;
            height: 53px;
            img{
                height: 53px;
            }
        }
    }
    #nav-menu-toggle{
        outline: none;
        position: relative;
        width: 27px;
        .nav-menu-toggle-child{
            background: $kp-darkgreen;
            height: 3px;
            width: 27px;
            position: absolute;
            transition: .3s ease-in-out;
            &:nth-child(1){ transform: translateY(-9px); }
            &:nth-child(3){ transform: translateY(9px); }
        }
        &.active{
            .nav-menu-toggle-child{
                &:nth-child(1){ transform: rotate(-45deg); }
                &:nth-child(2){ opacity: 0; }
                &:nth-child(3){ transform: rotate(45deg); }
            }
        }
    }
}

nav{
    background: $kp-darkgreen;
    &.active > ul{
        max-height: 400px;
        opacity: 1;
    }
    ul{
        transition: .3s ease-in-out;
        max-height: 4px;
        overflow-y: hidden;
        opacity: 0;
        padding: 4px 0 0 0;
        margin: 0;
        list-style: none;
        li{
            height: 46px;
            padding: 0 13.51px;
            font-size: 16px;
            a{
                display: block;
                height: 46px;
                line-height: 46px;
                padding: 0 4.5px;
                text-decoration: none;
                color: white;
                border-top: 1px solid #71C77B;
                position: relative;
                &::after{
                    content: "";
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    right: 4.36px;
                    border-top: 2px solid white;
                    border-right: 2px solid white;
                    transform: rotate(45deg);
                    top: 17.5px;
                    bottom: 17.5px;
                }
            }
            &.active{
                background: $kp-orange;
                a {
                    border-top: 1px solid $kp-transparent;
                    color: black;
                    font-weight: 500;
                    &::after{ border-color: black; }
                }
                + li > a{
                    border-top: 1px solid $kp-transparent;
                }
            }
            &:first-child a { border-top: none !important; }
        }
    }
}

#swiper{
    width: 100vw;
    height: 51vw;
    border-bottom: 4px solid $kp-orange;
    .swiper-slide{
        position: relative;
        background-size: cover;
        background-position: center center;
        .content{
            display: flex;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            height: 75px;
            align-items: center;
            padding: 0 18px;
            background: rgba(97, 171, 0, .75); // $kp-lightgreen
        }
        h2{
            font-size: 29px;
            margin: 0;
            color: white;
            span.title{
                padding-left: 0.5px;
                font-size: 17px;
                font-weight: 400;
                line-height: 24px;
                display: block;
            }
        }
    }
    .swiper-button-prev, .swiper-button-next{ display: none; }
}

div.section-block{
    margin: 0 16px 10px 16px;
    .title{
        margin-bottom: 14.5px;
        padding: 23px 0 2.5px 0;
        border-bottom: 2px solid $kp-lightgreen;
        h3{
            color: $kp-lightgreen;
            font-size: 20px;
            line-height: 28px;
            margin: 0 2px;
        }
    }
    .content{
        margin: 0 2px;
    }
}

#section-video-block{
    div.content{
        display: grid;
        grid-gap: 14px;
        // grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "vid vid"
            "sec pri"
            "gtm gtm"
            "kpp kpp"
            "geh geh";
    }

    
    
    #video-block{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: vid;
        height: 225px;
        background-size: cover;
        background-position: center center;
        background-image: image-set( "../image/video/video_cover.png" 1x, "../image/video/video_cover@2x.png" 2x, "../image/video/video_cover@3x.png" 3x);
        .play-button-block{
            height: 65px;
            width: 65px;
            border: 2px solid rgba(255,255,255,.8);
            background: rgba(255, 172, 12, .8);
            border-radius: 50%;
            cursor: pointer;
            &:hover{
                background: $kp-orange;
            }
        }
    }

    .gallery-block{
        background-size: cover;
        background-position: center center;
        height: 125px;
        position: relative;
        display: flex;
        &:hover{
            &:after{
                background: $kp-lightgreen;
            }
        }
        &:after{
            content: "";
            background: $kp-orange;
            height: 100%;
            width: 100%;
            opacity: .75;
            position: absolute;
        }
        a{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            z-index: 1;
            img{ width: 70px; }
            p{
                margin: 8px 0 0 0;
                color: white;
                font-weight: 500;
                line-height: 22px;
                font-size: 16px;
            }
        }
    }

    #sec-gallery-block{
        grid-area: sec;
        background-image: image-set( "../image/video/sec_bg.png" 1x, "../image/video/sec_bg@2x.png" 2x, "../image/video/sec_bg@3x.png" 3x);
    }
    #pri-gallery-block{
        grid-area: pri;
        background-image: image-set( "../image/video/pri_bg.png" 1x, "../image/video/pri_bg@2x.png" 2x, "../image/video/pri_bg@3x.png" 3x);
    }

    a.link-block{
        height: auto;
        img {
            height: auto;
            width: 100%;
            display: block;
            border: 4px solid $kp-darkgreen;
        }
    }
    #gtms-link-block{ grid-area: gtm; }
    #kppkpe-link-block{ grid-area: kpp; }
    #gehs-link-block{ grid-area: geh; }
}

#section-news-block{
    div.title{
        display: flex;
        align-items: baseline;
        margin-bottom: 0;
        h3{ flex: 1; }
        a{
            color: $kp-lightgreen;
            text-decoration: none;
            font-size: 13px;
            margin: 0 2px;
        }
    }
    ul.content{
        // 15.5
        padding: 0;
        list-style: none;
        li{
            a{
                text-decoration: none;
                padding: 15.5px 0;
                display: flex;
                border-bottom: 1px solid #CCCCCC;
                position: relative;
                align-items: center;
                &::after{
                    content: "";
                    height: 8px;
                    width: 8px;
                    // position: absolute;
                    right: 4.36px;
                    border-top: 2px solid #D1D1D6;
                    border-right: 2px solid #D1D1D6;
                    transform: rotate(45deg);
                    top: 17.5px;
                    bottom: 17.5px;
                }
                img{
                    width: 115px;
                    height: 86px;
                }
                div.news-detail-block{
                    margin: 0 4px 0 8px;
                    flex: 1;
                    h4{
                        font-size: 16px;
                        margin: 0 0 3px 0;
                        color: $kp-red;
                    }
                    span.news-date, p.news-detail{
                        display: block;
                        font-size: 12px;
                        color: #707070;
                        margin: 1px 0 0 0;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

#section-link-block{
    ul.content{
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14.5px;
        li{
            a{
                display: flex;
                align-items: center;
                color: black;
                text-decoration: none;
                font-size: 12px;
                img{
                    height: 43px;
                    width: 43px;
                    object-fit: cover;
                }
                p{
                    margin: 0 0 0 7px;
                }
            }
        }
    }
}