* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
}

header {
  height: 90px;
  background: white;
  margin: 0 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  height: 53px;
}

header h1 a {
  text-decoration: none;
  display: inline-block;
  color: black;
  height: 53px;
}

header h1 a img {
  height: 53px;
}

header #nav-menu-toggle {
  outline: none;
  position: relative;
  width: 27px;
}

header #nav-menu-toggle .nav-menu-toggle-child {
  background: #009A16;
  height: 3px;
  width: 27px;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header #nav-menu-toggle .nav-menu-toggle-child:nth-child(1) {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

header #nav-menu-toggle .nav-menu-toggle-child:nth-child(3) {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

header #nav-menu-toggle.active .nav-menu-toggle-child:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header #nav-menu-toggle.active .nav-menu-toggle-child:nth-child(2) {
  opacity: 0;
}

header #nav-menu-toggle.active .nav-menu-toggle-child:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav {
  background: #009A16;
}

nav.active > ul {
  max-height: 400px;
  opacity: 1;
}

nav ul {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  max-height: 4px;
  overflow-y: hidden;
  opacity: 0;
  padding: 4px 0 0 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  height: 46px;
  padding: 0 13.51px;
  font-size: 16px;
}

nav ul li a {
  display: block;
  height: 46px;
  line-height: 46px;
  padding: 0 4.5px;
  text-decoration: none;
  color: white;
  border-top: 1px solid #71C77B;
  position: relative;
}

nav ul li a::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  right: 4.36px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 17.5px;
  bottom: 17.5px;
}

nav ul li.active {
  background: #ffac0c;
}

nav ul li.active a {
  border-top: 1px solid rgba(0, 0, 0, 0);
  color: black;
  font-weight: 500;
}

nav ul li.active a::after {
  border-color: black;
}

nav ul li.active + li > a {
  border-top: 1px solid rgba(0, 0, 0, 0);
}

nav ul li:first-child a {
  border-top: none !important;
}

#swiper {
  width: 100vw;
  height: 51vw;
  border-bottom: 4px solid #ffac0c;
}

#swiper .swiper-slide {
  position: relative;
  background-size: cover;
  background-position: center center;
}

#swiper .swiper-slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  background: rgba(97, 171, 0, 0.75);
}

#swiper .swiper-slide h2 {
  font-size: 29px;
  margin: 0;
  color: white;
}

#swiper .swiper-slide h2 span.title {
  padding-left: 0.5px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

#swiper .swiper-button-prev, #swiper .swiper-button-next {
  display: none;
}

div.section-block {
  margin: 0 16px 10px 16px;
}

div.section-block .title {
  margin-bottom: 14.5px;
  padding: 23px 0 2.5px 0;
  border-bottom: 2px solid #61ab00;
}

div.section-block .title h3 {
  color: #61ab00;
  font-size: 20px;
  line-height: 28px;
  margin: 0 2px;
}

div.section-block .content {
  margin: 0 2px;
}

#section-video-block div.content {
  display: -ms-grid;
  display: grid;
  grid-gap: 14px;
      grid-template-areas: "vid vid" "sec pri" "gtm gtm" "kpp kpp" "geh geh";
}

#section-video-block #video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: vid;
  height: 225px;
  background-size: cover;
  background-position: center center;
  background-image: -webkit-image-set(url("../image/video/video_cover.png") 1x, url("../image/video/video_cover@2x.png") 2x, url("../image/video/video_cover@3x.png") 3x);
  background-image: image-set("../image/video/video_cover.png" 1x, "../image/video/video_cover@2x.png" 2x, "../image/video/video_cover@3x.png" 3x);
}

#section-video-block #video-block .play-button-block {
  height: 65px;
  width: 65px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 172, 12, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

#section-video-block #video-block .play-button-block:hover {
  background: #ffac0c;
}

#section-video-block .gallery-block {
  background-size: cover;
  background-position: center center;
  height: 125px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-video-block .gallery-block:hover:after {
  background: #61ab00;
}

#section-video-block .gallery-block:after {
  content: "";
  background: #ffac0c;
  height: 100%;
  width: 100%;
  opacity: .75;
  position: absolute;
}

#section-video-block .gallery-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  z-index: 1;
}

#section-video-block .gallery-block a img {
  width: 70px;
}

#section-video-block .gallery-block a p {
  margin: 8px 0 0 0;
  color: white;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
}

#section-video-block #sec-gallery-block {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sec;
  background-image: -webkit-image-set(url("../image/video/sec_bg.png") 1x, url("../image/video/sec_bg@2x.png") 2x, url("../image/video/sec_bg@3x.png") 3x);
  background-image: image-set("../image/video/sec_bg.png" 1x, "../image/video/sec_bg@2x.png" 2x, "../image/video/sec_bg@3x.png" 3x);
}

#section-video-block #pri-gallery-block {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pri;
  background-image: -webkit-image-set(url("../image/video/pri_bg.png") 1x, url("../image/video/pri_bg@2x.png") 2x, url("../image/video/pri_bg@3x.png") 3x);
  background-image: image-set("../image/video/pri_bg.png" 1x, "../image/video/pri_bg@2x.png" 2x, "../image/video/pri_bg@3x.png" 3x);
}

#section-video-block a.link-block {
  height: auto;
}

#section-video-block a.link-block img {
  height: auto;
  width: 100%;
  display: block;
  border: 4px solid #009A16;
}

#section-video-block #gtms-link-block {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gtm;
}

#section-video-block #kppkpe-link-block {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: kpp;
}

#section-video-block #gehs-link-block {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: geh;
}

#section-news-block div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 0;
}

#section-news-block div.title h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section-news-block div.title a {
  color: #61ab00;
  text-decoration: none;
  font-size: 13px;
  margin: 0 2px;
}

#section-news-block ul.content {
  padding: 0;
  list-style: none;
}

#section-news-block ul.content li a {
  text-decoration: none;
  padding: 15.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-news-block ul.content li a::after {
  content: "";
  height: 8px;
  width: 8px;
  right: 4.36px;
  border-top: 2px solid #D1D1D6;
  border-right: 2px solid #D1D1D6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 17.5px;
  bottom: 17.5px;
}

#section-news-block ul.content li a img {
  width: 115px;
  height: 86px;
}

#section-news-block ul.content li a div.news-detail-block {
  margin: 0 4px 0 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section-news-block ul.content li a div.news-detail-block h4 {
  font-size: 16px;
  margin: 0 0 3px 0;
  color: #DA4E35;
}

#section-news-block ul.content li a div.news-detail-block span.news-date, #section-news-block ul.content li a div.news-detail-block p.news-detail {
  display: block;
  font-size: 12px;
  color: #707070;
  margin: 1px 0 0 0;
  line-height: 16px;
}
/*# sourceMappingURL=style.css.map */